<div class="design-content-wrapper">
  <div class="designer-wrapper">
    <header>
      <nz-upload nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76">
        <button nz-button nzType="dashed">
          <i nz-icon nzType="upload"></i> Upload Image
        </button>
      </nz-upload>
    </header>

    <ngx-monaco-editor
      [options]="designEditorOptions"
      [ngModel]="designCode"
      (ngModelChange)="onDesignCodeChange($event)"
    ></ngx-monaco-editor>
  </div>

  <div class="preview-wrapper">
    <div class="preview-header">
      <nz-avatar
        [nzGap]="8"
        nzText="B"
        nzSize="large"
        style="vertical-align: middle"
      ></nz-avatar>
      <div class="preview-senders">
        <h2>
          {{
            settingsForm.value.from || 'N/A (Head to settings tab to configue)'
          }}
        </h2>
        <div class="preview-to-from">
          <p class="preview-to-from-title">To</p>
          <p>
            {{
              settingsForm.value.to || 'N/A (Head to settings tab to configue)'
            }}
          </p>
        </div>
        <div class="preview-to-from">
          <p class="preview-to-from-title">CC</p>
          <p>{{ settingsForm.value.cc || 'N/A' }}</p>
        </div>
      </div>
    </div>
    <div class="preview" [innerHTML]="designCode | trustCss"></div>
  </div>
</div>
