<ng-template #skeletonLoader>
  <nz-skeleton *ngIf="detailsIsLoading"></nz-skeleton>
</ng-template>
<article
  *ngIf="!detailsIsLoading; else skeletonLoader"
  class="template-details-wrapper"
>
  <p>
    Template ID: {{ templateUUID }}
    <i
      nz-icon
      nzType="info-circle"
      nzTheme="outline"
      nz-tooltip
      nzTooltipTitle="This is the Template ID that you will use for your API calls"
    ></i>
  </p>

  <div
    class="version-wrapper"
    *ngIf="
      !templateVersionList || templateVersionList?.length === 0;
      else templateVersionsTable
    "
  >
    <p>
      Add a version to this dynamic template in order to start editing its
      content
    </p>

    <button nz-button nzType="dashed" (click)="createVersion()">
      Add Version
    </button>
  </div>

  <ng-template #templateVersionsTable>
    <nz-table
      #innerTable
      [nzData]="templateVersionList"
      nzSize="middle"
      [nzShowPagination]="false"
    >
      <thead>
        <tr>
          <th>Version Name</th>
          <th>Status</th>
          <th>Created by</th>
          <th>Last Edited</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of innerTable.data">
          <td>{{ data?.name || 'Untitled' }}</td>
          <td>
            <div
              [ngClass]="[
                data?.status === 'PUBLISHED' ? 'published-chip' : 'draft-chip',
                'chip'
              ]"
            >
              {{ data?.status }}
            </div>
          </td>
          <td>PENDING BACKEND API</td>
          <td>{{ data?.lastModifiedDate }}</td>
          <td>
            <a nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click">
              <i nz-icon nzType="more"></i>
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu nzSelectable>
                <li
                  nz-menu-item
                  [routerLink]="['/templates/editor', data?.id || -1]"
                >
                  Edit Draft
                </li>
                <li nz-menu-item nzDanger>Delete</li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </ng-template>
</article>
