.template-details-wrapper {
  i {
    margin-left: 1rem;
  }

  .version-wrapper {
    background-color: white;
    border: 1px dashed rgb(187, 187, 187);
    text-align: center;
    width: 100%;
    padding: 3rem;
  }
}

.chip {
  width: fit-content;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.draft-chip {
  background-color: rgb(230, 230, 230);
  font-weight: bold;
}

.published-chip {
  background-color: rgb(210, 255, 214);
  font-weight: bold;
}
