.template-details-wrapper {
  i {
    margin-left: 1rem;
  }

  .version-wrapper {
    background-color: white;
    border: 1px dashed rgb(187, 187, 187);
    text-align: center;
    width: 100%;
    padding: 3rem;
  }
}
