.menu-sidebar {
  height: 100vh;
  background: #ffff;
  position: sticky;
  top: 0;
  left: 0;

  header {
    text-align: center;
    padding: 1rem;

    h1 {
      margin: 0;
    }
  }

  ul {
    width: 240px;
    li:focus {
      outline: none;
    }
  }

  .collapsed {
    width: 80px;
  }
}
