<form nz-form [formGroup]="settingsForm" nzLayout="vertical">
  <nz-form-item>
    <nz-form-label nzFor="template-version-name">
      Template Version Name
    </nz-form-label>
    <nz-form-control nzErrorTip="Please input From value!">
      <nz-input-group>
        <input
          type="text"
          nz-input
          placeholder="e.g Default Template"
          name="template-version-name"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="sender" nzRequired> Sender </nz-form-label>
    <nz-form-control nzErrorTip="Please input Sender value!">
      <nz-input-group>
        <input
          type="text"
          nz-input
          formControlName="sender"
          placeholder="e.g bcatsgops1@email.com"
          name="sender"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="recipients" nzRequired> Recipients </nz-form-label>
    <nz-form-control nzErrorTip="Please input Recipients value!">
      <nz-input-group>
        <input
          type="text"
          nz-input
          formControlName="recipients"
          placeholder="e.g users@email.com"
          name="recipients"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="ccRecipients"> CC </nz-form-label>
    <nz-form-control nzErrorTip="Please input CC value!">
      <nz-input-group>
        <input
          type="text"
          nz-input
          formControlName="ccRecipients"
          placeholder="e.g user2@email.com"
          name="ccRecipients"
          nz-tooltip
          nzTooltipTrigger="focus"
          nzTooltipPlacement="topLeft"
          nzTooltipTitle="Emails are delimited by semi-colon"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="bccRecipients"> BCC </nz-form-label>
    <nz-form-control nzErrorTip="Please input BCC value!">
      <nz-input-group>
        <input
          type="text"
          nz-input
          formControlName="bccRecipients"
          placeholder="e.g user2@email.com"
          name="bccRecipients"
          nz-tooltip
          nzTooltipTrigger="focus"
          nzTooltipPlacement="topLeft"
          nzTooltipTitle="Emails are delimited by semi-colon"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
</form>
