<section class="templates-page-wrapper">
  <div class="button-wrapper">
    <button nz-button nzType="primary">Create Template</button>
  </div>
  <div class="input-wrapper">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input type="text" nz-input placeholder="Search for template name" />
    </nz-input-group>

    <nz-select
      [(ngModel)]="tagValue"
      nzMode="tags"
      nzPlaceHolder="Please select app"
    >
      <nz-option
        *ngFor="let option of listOfOption"
        [nzLabel]="option.label"
        [nzValue]="option.value"
      ></nz-option>
    </nz-select>
  </div>

  <nz-table #nzTable [nzData]="listOfData" nzTableLayout="fixed">
    <thead>
      <tr>
        <th nzWidth="60px"></th>
        <th>Template</th>
        <th>Delivery Channel</th>
        <th>App</th>
        <th>Last Edited</th>
        <th nzWidth="60px"></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of nzTable.data">
        <tr>
          <td
            [nzExpand]="expandSet.has(data.id)"
            (nzExpandChange)="onExpandChange(data.id, $event)"
          ></td>
          <td>{{ data.template }}</td>
          <td>{{ data.deliveryChannel }}</td>
          <td>{{ data.app }}</td>
          <td>{{ data.lastEdited }}</td>
          <td>
            <a nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click">
              <i nz-icon nzType="more"></i>
            </a>
          </td>
        </tr>
        <tr [nzExpand]="expandSet.has(data.id)">
          <app-template-details
            [templateID]="data.id"
            (onCreateVersion)="openCodeEditor()"
          ></app-template-details>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
</section>

<nz-drawer
  [nzClosable]="true"
  [nzVisible]="codeEditorVisible"
  [nzMaskClosable]="false"
  [nzHeight]="codeEditorHeight"
  nzPlacement="bottom"
  nzTitle="Basic Drawer"
  (nzOnClose)="closeCodeEditor()"
>
  <ng-container *nzDrawerContent>
    <p>Some contents...</p>
    <p>Some contents...</p>
    <p>Some contents...</p>
  </ng-container>
</nz-drawer>

<ng-template #suffixIconButton>
  <button nz-button nzType="primary" nzSearch>
    <i nz-icon nzType="search"></i>
  </button>
</ng-template>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu nzSelectable>
    <li nz-menu-item>Edit Template Name</li>
    <li nz-menu-item nzDanger>Delete</li>
  </ul>
</nz-dropdown-menu>
