<nz-drawer
  [nzClosable]="true"
  [nzVisible]="codeEditorVisible"
  [nzMaskClosable]="false"
  [nzHeight]="codeEditorHeight"
  nzPlacement="bottom"
  [nzTitle]="header"
  (nzOnClose)="onCloseCodeEditor()"
>
  <ng-template #header>
    <div class="code-editor-header">Header</div>
  </ng-template>
  <ng-container *nzDrawerContent>
    <div class="content-wrapper">
      <ngx-monaco-editor
        [options]="editorOptions"
        [ngModel]="code"
        (ngModelChange)="onCodeChange($event)"
      ></ngx-monaco-editor>
      <div class="preview" [innerHTML]="code | trustCss"></div>
    </div>
  </ng-container>
</nz-drawer>
