<section class="image-lib-page-wrapper">
  <div class="button-wrapper">
    <button nz-button nzType="primary">Create Template</button>
  </div>
  <div class="input-wrapper">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input type="text" nz-input placeholder="Search for image file name" />
    </nz-input-group>

    <nz-select
      [(ngModel)]="tagValue"
      nzMode="tags"
      nzPlaceHolder="Please select app"
    >
      <nz-option
        *ngFor="let option of listOfOption"
        [nzLabel]="option.label"
        [nzValue]="option.value"
      ></nz-option>
    </nz-select>
  </div>
</section>

<ng-template #suffixIconButton>
  <button nz-button nzType="primary" nzSearch>
    <i nz-icon nzType="search"></i>
  </button>
</ng-template>
