.app-wrapper {
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.main-app-wrapper {
  display: flex;
  flex: 1;

  .main-content-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}
